{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {% render_block "css" %}
        
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        {% cms_toolbar %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>

        <div>
            {% block content %}{% endblock content %}
        </div>

        {# ****BEGIN JS AND CSS RENDERING**** #}
        {% addtoblock "css" %}
            <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        {% endaddtoblock %}
        {% addtoblock "css" %}
            <link rel="stylesheet" href="{% static 'css/main.css' %}">
        {% endaddtoblock %}

        {% addtoblock "js" %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
        {% endaddtoblock %}
        {% addtoblock "js" %}
{#            <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}">')</script>#}
            <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}">')</script>
        {% endaddtoblock %}
        {% addtoblock "js" %}
            <script src="{% static 'js/plugins.js' %}"></script>
        {% endaddtoblock %}
        {% addtoblock "js" %}
            <script src="{% static 'js/main.js' %}"></script>
        {% endaddtoblock %}
        {% addtoblock "js" %}
            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
            <script>
                (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
                e=o.createElement(i);r=o.getElementsByTagName(i)[0];
                e.src='https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
                ga('create','UA-XXXXX-X','auto');ga('send','pageview');
            </script>
        {% endaddtoblock %}

        {% render_block "js" %}
        {# ****END JS AND CSS RENDERING**** #}
    </body>
</html>
